<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {% endblock styles %}

        <title>Dashboard</title>
        {% endblock head %}
    </head>
    <body>
{% include 'header.tmpl' %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
let prev = {{ previous_jobs | tojson() }};
if (prev) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('context', {{ ctxid }}, last['id']);
} else {
  CheckRes('context', {{ ctxid }});
}

$(document).ready(function(){
  DisplayPrev('context', {{ ctxid }}, prev, {{ showdelete|int }});
});
</script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour le contexte {{ ctxid }}</p>
{% if ctxname is not none %}
<a href='/mapstore/#/context/{{ ctxname }}'>voir le contexte</a>
{% endif %}
<form id='check' action="javascript:CheckRes('context', {{ ctxid }});">
<input type=submit value="check now">
</form>
<h2 id='pbtitle'>Problems</h2>
<div id='pbdetails'></div>
<div id="problems"></div>
<h2 id='usetitle'>Contents</h2>
{% if layers.items() | length > 0 %}
<div id="uses">
la carte du contexte utilise les ressources suivantes:
<ul>
{% for k,l in layers.items() %}
<li id='{{ k }}'>
'{{ l.title }}': couche {{ l.type }}
<a href='{{ url_for('dashboard.owslayer', stype=l.type, url=l.url.replace('/', '~'), lname=l.name) }}'>{{ l.name }}</a>
dans
<a href='{{ url_for('dashboard.ows', stype=l.type, url=l.url.replace('/', '~')) }}'>{{ l.url }}</a></li>
{% endfor %}
</ul>
</div>
{% else %}
<p>une erreur est survenue lors de la récupération des informations du contexte, ou la carte n'utilise aucune couche d'overlay</p>
{% endif %}
<h2 id='previous'>Previous</h2>
<p id='previouslist'></p>
</div>
	{% endblock content %}
    </body>
</html>
