<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Dashboard</title>
        {% endblock %}
    </head>
    <body>
{% include 'header.tmpl' %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

fetch('/dashboard/tasks/check/context/{{ ctxid }}.json')
    .then(response => response.json())
    .then(mydata => {
        $('#pbtitle').text("En cours d'analyse");
        const poll = () => {
          fetch(`/dashboard/tasks/result/${mydata["result_id"]}`)
            .then(response => response.json())
            .then(data => {
//                console.log(data)
                if (data === null) {
                  $('#pbtitle').text('got null, shouldnt happen ?');
                } else if(!data["ready"]) {
                  $('#pbtitle').text('Waiting');
                  setTimeout(poll, 500)
                } else if (!data["successful"]) {
                  $('#problems').text('Something crashed, check browser console');
                  console.error(data)
                } else {
                  if (data["value"].problems.length > 0) {
                    $('#problems').text(data["value"].problems);
                  } else {
                    $('#pbtitle').text('No problemo! in map owned by '+data["value"].owner);
                    $('#problems').remove();
                  }
                }
            })
        }
        poll();
    })

</script>
        {% endblock %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p>	Details pour le contexte {{ ctxid }}</p>
<h2 id='pbtitle'>Problems</h2>
<div id="problems"></div>
</div>
	{% endblock %}
    </body>
</html>
</body>
</html>
