<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {% endblock styles %}

        <title>Dashboard</title>
        {% endblock head %}
    </head>
    <body>
{% include 'header.tmpl' %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
let prev = {{ previous_jobs | tojson() }};
if (prev) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('map', {{ mapid }}, last['id']);
} else {
  CheckRes('map', {{ mapid }});
}

$(document).ready(function(){
  DisplayPrev('map', {{ mapid }}, prev, {{ showdelete|int }});
});
</script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour la carte {{ mapid }}</p>
<form id='check' action="javascript:CheckRes('map', {{ mapid }});">
<input type=submit value="check now">
</form>
<h2 id='pbtitle'>Problems</h2>
<div id="problems"></div>
<h2 id='previous'>Previous</h2>
<p id='previouslist'></p>
</div>
	{% endblock content %}
    </body>
</html>
