<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {% endblock styles %}

        <title>Dashboard</title>
        {% endblock head %}
    </head>
    <body>
{% include 'header.tmpl' %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour la couche {{ type }} '{{ lname }}' dans <a href='{{ url_for('dashboard.ows', stype=type, url=url) }}'>{{ s.service.url }}</a></p>
<p>titre: {{ s.service.contents[lname].title }}<p>
<p>résumé: {{ s.service.contents[lname].abstract }}</p>
<p>capacités du service récupérées: {{ s.timestamp | datetimeformat }}</p>
</div>
	{% endblock content %}
    </body>
</html>
