<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {% endblock styles %}

        <title>Dashboard</title>
        {% endblock head %}
    </head>
    <body>
{% include 'header.tmpl' %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
let prev = {{ previous_jobs | tojson() }};
if (prev && Array.isArray(prev) && prev.length > 0) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('ows/{{ type }}/{{ url }}', '{{ lname }}', last['id']);
} else {
  CheckRes('ows/{{ type }}/{{ url }}', '{{ lname }}');
}

$(document).ready(function(){
  DisplayPrev('ows/{{ type }}/{{ url }}', '{{ lname }}', prev, {{ showdelete|int }});
});
</script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour la couche {{ type }} '{{ lname }}' dans <a href='{{ url_for('dashboard.ows', stype=type, url=url) }}'>{{ s.service.url }}</a></p>
<p>titre: {{ s.service.contents[lname].title }}<p>
<p>résumé: {{ s.service.contents[lname].abstract }}</p>
{% if s.service.contents[lname].metadataUrls | length > 0 %}
<p>métadonnées:
<ul>
{%   for m in s.service.contents[lname].metadataUrls %}
{%     if m.format == 'text/html' %}
<li><a href='{{ m.url }}'>voir les métadonnées au format HTML (type {{ m.type }})</li>
{%     elif m.format == 'text/xml' %}
<li><a href='{{ m.url }}'>voir les métadonnées au format XML (type {{ m.type }})</li>
{%     endif %}
{%   endfor %}
{%   if localmduuids is not none %}
{%     for m in localmduuids %}
<li><a href='{{ url_for('dashboard.cswentry', portal='srv', uuid=m) }}'>voir les détails pour la métadonnée</a></li>
{%     endfor %}
{%   endif %}
</ul>
{% endif %}
<p>capacités du service récupérées: {{ s.timestamp | datetimeformat }}</p>
<p>Retourner sur le <a href='{{ url_for('dashboard.ows', stype=type, url=url) }}'>contenu du service {{ s.service.url }}</a></p>
<p><a href="javascript:SendToMapstore('{{ type }}', '{{ s.service.url }}', '{{ lname }}')">view it in mapstore</a></p>
{% if not url.startswith('http')  %}
{%   set base=url.split('~')[1] %}
{%   set ws=url.split('~')[2] %}
{%   if ':' in lname %}
{%     set ws=lname.split(':')[0] %}
{%     set slname=lname.split(':')[1] %}
{%     set previewbase=base %}
{%   else %}
{%     set slname=lname %}
{%     set previewbase=base + '/' + ws %}
{%   endif %}
this is probably a layer in the localgs,
{%   if type == 'wms' %}
<a href='/{{ previewbase }}/wms?{{ previewqparams }}'>preview WMS layer in geoserver</a>
{%   elif type == 'wmts' %}
<a href='/{{ base }}/gwc/demo/{{ ws }}:{{ slname }}?gridSet=EPSG:4326&format=image/png'>preview cache in geoserver demo</a>
{%   elif type == 'wfs' %}
<a href='/{{ previewbase }}/ows?version=1.0.0&request=GetFeature&typeName={{ ws }}%3A{{ slname }}&maxFeatures=50'>download GML sample</a>
{%   endif %}
or:
<ul>
{%   if type == 'wms' %}
{%     set gcparm = 'service=WMS&version=1.3.0' %}
{%     set servhandler = 'ows' %}
{%   elif type == 'wmts' %}
{%     set gcparm = 'service=WMTS&version=1.1.1' %}
{%     set servhandler = 'gwc/service/wmts' %}
{%   elif type == 'wfs' %}
{%     set gcparm = 'service=WFS&acceptversions=2.0.0' %}
{%     set servhandler = 'ows' %}
{%   endif %}
{%   if type == 'wms' %} <!-- per-layer getcapabilities only works for wms ? -->
<li><a href='/{{ base }}/{{ ws }}/{{ slname }}/{{ servhandler }}?{{ gcparm }}&request=GetCapabilities'>grab the {{ type }} layer getcapabilities link</a></li>
{%   endif %}
<li><a href='/{{ base }}/{{ ws }}/{{ servhandler }}?{{ gcparm }}&request=GetCapabilities'>grab the workspace {{ type }} getcapabilities link</a></li>
<li><a href='/{{ base }}/web/wicket/bookmarkable/org.geoserver.web.data.resource.ResourceConfigurationPage?name={{ slname }}&wsName={{ ws }}'>configure layer in geoserver</a></li>
</ul>
{% endif %}
{% if consumers is not none %}
<p>
utilisée par:
<ul>
{% for f in consumers %}
{% if f[0] == 'MAP' %}
<li><a href='{{ url_for('dashboard.map', mapid=f[1])}}'>carte {{ f[2] }}</a></li>
{% elif f[0] == 'CONTEXT' %}
<li><a href='{{ url_for('dashboard.ctx', ctxid=f[1])}}'>contexte {{ f[2] }}</a></li>
{% endif %}
{% endfor %}
</ul>
</p>
{% endif %}
<form id='check' action="javascript:CheckRes('ows/{{ type }}/{{ url }}', '{{ lname }}');">
<input type=submit value="check now">
</form>
<h2 id='pbtitle'>Problems</h2>
<div id='pbdetails'></div>
<div id="problems"></div>
<h2 id='previous'>Previous</h2>
<p id='previouslist'></p>
</div>
	{% endblock content %}
    </body>
</html>
