{% set title = colltype ~ '-' ~ key %}
{% include 'header.tmpl' %}

        {% block scripts %}
<script>
let prev = {{ previous_jobs | tojson() }};
if (prev && Array.isArray(prev) && prev.length > 0) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('geoserver/datadir/{{ colltype }}', '{{ collobj }}', last['id'], {{ superuser|int }});
}

$(document).ready(function(){
  DisplayPrev('geoserver/datadir/{{ colltype }}', '{{ collobj }}', prev, {{ superuser|int }});
});
</script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour le {{ colltype }} '{{ key }}' dans <a href='{{ url_for('dashboard.admin.geoserver_datadir') }}'>le datadir geoserver</a></p>
<ul>
{% if obj.name %}
<li>nom: {{ obj.name }}</li>
{% endif %}
{% if obj.file %}
<li>file: {{ obj.file }}</li>
{% endif %}
<!-- todo: link to gs admin/edit page ? -->
{% if colltype == 'datastore' %}
<li>type de datastore: {{ obj.type }}</li>
{% endif %}
{% if colltype == 'rasterdata' %}
<li>type de raster: {{ obj.type }}</li>
{% endif %}
{% if colltype == 'vectordata' %}
<li>type de vecteur: {{ obj.type }}</li>
{% endif %}
{% if obj.workspaceid %}
<li>dans le workspace <a href='{{ url_for('dashboard.admin.geoserver_datadir_collobj',colltype='workspace',collobj=obj.workspaceid) }}'>{{ obj.workspaceid }}</a></li>
{% endif %}
{% if obj.datastoreid %}
<li>dans le datastore <a href='{{ url_for('dashboard.admin.geoserver_datadir_collobj',colltype='datastore',collobj=obj.datastoreid) }}'>{{ obj.datastoreid }}</a></li>
{% endif %}
{% if obj.coveragestoreid %}
<li>dans le coveragestore <a href='{{ url_for('dashboard.admin.geoserver_datadir_collobj',colltype='coveragestore',collobj=obj.coveragestoreid) }}'>{{ obj.coveragestoreid }}</a></li>
{% endif %}
{% if obj.namespaceid %}
<!-- <li>dans le namespace <a href='{{ url_for('dashboard.admin.geoserver_datadir_collobj',colltype='namespace',collobj=obj.namespaceid) }}'>{{ obj.namespaceid }}</a></li> -->
{% endif %}
{% if obj.featuretypeid %}
<li>dans le featuretype <a href='{{ url_for('dashboard.admin.geoserver_datadir_collobj',colltype='featuretype',collobj=obj.featuretypeid) }}'>{{ obj.featuretypeid }}</a></li>
{% endif %}
{% if obj.coverageid %}
<li>dans le coverage <a href='{{ url_for('dashboard.admin.geoserver_datadir_collobj',colltype='coverage',collobj=obj.coverageid) }}'>{{ obj.coverageid }}</a></li>
{% endif %}
</ul>

{% if obj.referenced_by %}
<p>
référencé par:
<ul>
{% for f in obj.referenced_by %}
<li>le {{ f[0] }} <a href='{{ url_for('dashboard.admin.geoserver_datadir_collobj',colltype=f[0],collobj=f[1]) }}'>{{ f[1] }}</a></li>
{% endfor %}
</ul>
</p>
{% endif %}
<form id='check' action="javascript:CheckRes('geoserver/datadir//{{ colltype }}', '{{ collobj }}', {{ superuser|int }});">
<input type=submit value="check now">
</form>
<h2 id='pbtitle'>Problems</h2>
<div id='pbdetails'>No check has been run yet</div>
<div id="problems"></div>
<h2 id='previous'>Previous</h2>
<p id='previouslist'>No previous check result has been found</p>
</div>
	{% endblock content %}
    </body>
</html>
