{% set title = 'Mapstore datadir configs' %}
{% include 'header.tmpl' %}

        {% block scripts %}
<script>
let prev = {{ previous_configs_jobs | tojson() }};
if (prev && Array.isArray(prev) && prev.length > 0) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('mapstore', 'configs', last['id'], {{ superuser|int }}, '#pbtitle');
}
$(document).ready(function(){
  DisplayPrev('mapstore', 'configs', prev, {{ superuser|int }}, '#previouslist');
});
</script>
        {% endblock %}
        <!-- Your page content -->
        {% block content %}
   <div class="container">
<div>
<h2>Check mapstore configs</h2>
<form id='check' action="javascript:CheckRes('mapstore', 'configs', {{ superuser|int }} );">
<input type=submit value="check all mapstore configs now">
</form>
<h4 id='pbtitle'>Problems</h4>
<div id='pbdetails'></div>
<div id="problems"></div>
<h4 id='previous'>Previous</h4>
<p id='previouslist'></p>
</div>
   </div>
        {% endblock %}
</body>
</html>
