{% set title = 'Mapstore datadir configs' %}
{% include 'header.tmpl' %}

        {% block scripts %}
<script>
let prev = {{ previous_configs_jobs | tojson() }};
if (prev) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('mapstore', 'configs', last['id'], {{ showdelete|int }}, '#pbtitle2');
}
$(document).ready(function(){
  DisplayPrev('mapstore', 'configs', prev, {{ showdelete|int }}, '#previouslist2');
});
</script>
        {% endblock %}
        <!-- Your page content -->
        {% block content %}
   <div class="container">
<div>
<h2>Check mapstore configs</h2>
<form id='check2' action="javascript:CheckRes('mapstore', 'configs', {{ showdelete|int }} );">
<input type=submit value="check all mapstore configs now">
</form>
<h4 id='pbtitle2'>Problems</h4>
<div id='pbdetails2'></div>
<div id="problems2"></div>
<h4 id='previous'>Previous</h4>
<p id='previouslist2'></p>
</div>
   </div>
        {% endblock %}
</body>
</html>
