{% set title = 'All Mapstore maps' %}
{% include 'header.tmpl' %}

        {% block scripts %}
<script>
let prev = {{ previous_resources_jobs | tojson() }};
if (prev) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('mapstore', 'maps', last['id'], {{ superuser|int }}, '#pbtitle');
}

$(document).ready(function(){
  DisplayPrev('mapstore', 'maps', prev, {{ superuser|int }}, '#previouslist');
{% if res | length > 0 %}
  $('#mapstable').bootstrapTable({
    data: {{ res | tojson }},
    columns: [
      {'field': 'url', 'sortable': true, 'title': "Identifier", 'formatter': 'urlFormatter'},
      {'field': 'title', 'sortable': true, 'title':'Titre' },
      {'field': 'owner', 'sortable': true, 'title': "Créateur"},
      {'field': 'acl', 'title': "Droits d'accès"},
      {'field': 'viewurl', 'title': 'View'}
    ]
  });
{% endif %}
});
</script>
        {% endblock %}
        <!-- Your page content -->
        {% block content %}
   <div class="container">
<p id='details'>Details pour toutes les cartes mapstore</p>
<div>
<h2>Check mapstore maps</h2>
<p>check all mapstore maps.</p>
<form id='check' action="javascript:CheckRes('mapstore', 'maps', {{ superuser|int}} );">
<input type=submit value="check all mapstore maps now">
</form>
<h4 id='pbtitle'>Problems</h4>
<div id='pbdetails'></div>
<div id="problems"></div>
<h4 id='previous'>Previous</h4>
<p id='previouslist'></p>
</div>
<h2 id='mapstitle'>Maps</h2>
<table id="mapstable"
  data-sort-name="title"
  data-toggle="true"
  data-search="true">
</table>
        {% endblock %}
</body>
</html>
