<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.0/dist/bootstrap-table.min.css">
        {% endblock styles %}

        <title>Dashboard</title>
        {% endblock head %}
    </head>
    <body>
{% include 'header.tmpl' %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.0/dist/bootstrap-table.min.js"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
let prev = {{ previous_jobs | tojson() }};
if (prev && Array.isArray(prev) && prev.length > 0) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('cswservice', '{{ url }}', last['id'], {{ showdelete|int }});
}

$(document).ready(function(){
  DisplayPrev('cswservice', '{{ url }}', prev, {{ showdelete|int }});
});
</script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour le service csw {{ s.s.url }}</p>
<p>titre: {{ s.s.identification.title }}<p>
<p>capacités du service récupérées: {{ s.timestamp | datetimeformat }}</p>
<p>{{ s.contents().items() | length }} métadonnées récupérées</p>
<h2 id='pbtitle'>Problems</h2>
<div id='pbdetails'></div>
<div id="problems"></div>
<h2 id='records'>Contents</h2>
{% if s.contents().items() | length > 0 %}
<ol>
{% for md in s.contents().values() | sort(attribute='title') %}
<li><a href='{{ url_for("dashboard.cswentry", portal=portal, uuid=md.identifier) }}'>{{ md.title }} ({{ md.identifier }})</a></li>
{% endfor %}
</ol>
{% endif %}
<form id='check' action="javascript:CheckRes('cswservice', '{{ url }}', {{ showdelete|int }});">
<input type=submit value="check all metadatas now">
</form>
<h2 id='previous'>Previous</h2>
<p id='previouslist'></p>
</div>
	{% endblock content %}
    </body>
</html>
