{% set title = 'csw ' ~ url %}
{% include 'header.tmpl' %}

        {% block scripts %}
<script>
let prev = {{ previous_jobs | tojson() }};
if (prev && Array.isArray(prev) && prev.length > 0) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('cswservice', '{{ url }}', last['id'], {{ superuser|int }});
}

$(document).ready(function(){
  DisplayPrev('cswservice', '{{ url }}', prev, {{ superuser|int }});
{% if cswrecords | length > 0 %}
  $('#cswrecordstable').bootstrapTable({
    data: {{ cswrecords | tojson }},
    columns: [
      {'title': 'Index', 'formatter': 'runningFormatter'},
      {'title': 'Uuid', 'field': 'url', 'sortable': true, 'formatter': 'urlFormatter'},
      {'title': 'Titre', 'field': 'title', 'sortable': true }
    ]
  });
{% endif %}
});
</script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour le service csw {{ s.s.url }}</p>
<p>titre: {{ s.s.identification.title }}<p>
<p>capacités du service récupérées: {{ s.timestamp | datetimeformat }}
{% if superuser %}
<a id='reloadlink' href="javascript:ReloadCapabilities('csw','{{ url }}')" title='Reload capabilities from the remote service and refresh the page'><i class="bi bi-arrow-repeat"></i></a>
{% endif %}
</p>
{% if cswrecords | length > 0 %}
<p>{{ cswrecords | length }} métadonnées <strong>publiques</strong> récupérées</p>
<p>Note: les métadonnées non publiques et externes/moissonnées ne sont pas incluses. Les informations fournies sur cette page proviennent d'une requête CSW.</p>
{% endif %}
<h2 id='pbtitle'>Problems</h2>
<div id='pbdetails'>No check have been run yet !</div>
<div id="problems"></div>
<form id='check' action="javascript:CheckRes('cswservice', '{{ url }}', {{ superuser|int }});">
<input type=submit value="check all metadatas now">
</form>
<h2 id='records'>Contents: {{ cswrecords | length }} records</h2>
<table id="cswrecordstable"
  data-pagination="true"
  data-toggle="true"
  data-sort-name="title"
  data-search="true">
</table>
<h2 id='previous'>Previous</h2>
<p id='previouslist'></p>
</div>
	{% endblock content %}
    </body>
</html>
