{% include 'header.tmpl' %}

        {% block scripts %}
<script>
let prev = {{ previous_jobs | tojson() }};
if (prev && Array.isArray(prev) && prev.length > 0) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('csw', '{{ r.identifier }}', last['id'], {{ showdelete|int }});
}

$(document).ready(function(){
  DisplayPrev('csw', '{{ r.identifier }}', prev, {{ showdelete|int }});
});
</script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour la md '{{ r.identifier }}' dans <a href='{{ url_for('dashboard.csw', portal=portal) }}'>{{ s.s.url }}</a></p>
<p>titre: {{ r.title }}<p>
<p>résumé: {{ r.abstract }}</p>
<p>capacités du service récupérées: {{ s.timestamp | datetimeformat }}</p>
<p><a href='/datahub/dataset/{{ r.identifier }}'>voir dans datahub</a></p>
<p><a href='/{{ localgn }}/srv/fre/catalog.search#/metadata/{{ r.identifier }}'>voir dans geonetwork</a></p>
<p><a href='/{{ localgn }}/srv/api/records/{{ r.identifier }}/formatters/xml'>voir le XML</a></p>
<p><a href='/{{ localgn }}/srv/fre/catalog.edit#/metadata/{{ gnid }}?redirectUrl=catalog.search%23%2Fmetadata%2F{{ r.identifier }}'>modifier dans geonetwork</a></p>
{% if owslinks | length  > 0 %}
<h2>references</h2>
<ul>
{%   for o in owslinks %}
<li><a href='{{ url_for('dashboard.owslayer', stype=o.type, url=o.url.replace('/','~').split('?')[0], lname=o.layername) }}'>couche {{ o.type }} {{ o.layername }} dans {{ o.url }}</a> ({{ o.descr }})</li>
{%   endfor %}
</ul>
{% endif %}
<form id='check' action="javascript:CheckRes('csw/{{ url }}', '{{ r.identifier }}', {{ showdelete|int }});">
<input type=submit value="check now">
</form>
<h2 id='pbtitle'>Problems</h2>
<div id='pbdetails'></div>
<div id="problems"></div>
<h2 id='previous'>Previous</h2>
<p id='previouslist'></p>
</div>
	{% endblock content %}
    </body>
</html>
