{% set title = 'contexte ' ~  ctxid ~ ' - ' ~ details.title %}
{% include 'header.tmpl' %}

        {% block scripts %}
<script>
let prev = {{ previous_jobs | tojson() }};
if (prev && Array.isArray(prev) && prev.length > 0) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('context', {{ ctxid }}, last['id'], {{ superuser|int }});
}

$(document).ready(function(){
  DisplayPrev('context', {{ ctxid }}, prev, {{ superuser|int }});
{% if resources.catlist | length > 0 %}
  $('#catalogstable').bootstrapTable({
    data: {{ resources.catlist |tojson }},
    columns: [
      {'field': 'key', 'title': "Identifier", 'sortable': true},
      {'field': 'type', 'title': "Type", 'sortable': true},
      {'field': 'url', 'title': 'Url', 'sortable': true, 'formatter':'urlFormatter'},
      {'field': 'title', 'title':'Titre', 'sortable': true}
    ]
  });
{% endif %}
});
</script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour le contexte {{ ctxid }}, ayant pour titre {{ details.title }}</p>
<ul>
{% if details.description %}
<li>Description: {{ details.description }}</li>
{% endif %}
{% if superuser %}
<li>Propriétaire: {{ details.owner }}</li>
{% if 'details' in details.attribute %}
<li>Présentation: '{{ details.attribute['details']}}'</li>
{% endif %}
{% if details.groups | length > 0 %}
<li>Régles d'accès:</li>
<ul>
{% for r,a in details.groups.items() %}
<li>
{% if r == 'everyone' %}
N'importe qui:
{% else %}
Membres du role {{ r }}:
{% endif %}
peut visualiser: {{ a.canread }} peut modifier: {{ a.canwrite }}</li>
{% endfor %}
{% if 'everyone' not in details.groups.keys() %}
<li>Pas de règle pour 'everyone', le contexte n'est pas public</li>
{% endif %}
</ul>
{% else %}
<li>Aucune règle d'accès, le contexte est visible uniquement par le propriétaire ou un administrateur</li>
{% endif %}
</ul>
{% endif %}
<a href='/mapstore/#/context/{{ details.title }}'>voir le contexte</a>
<form id='check' action="javascript:CheckRes('context', {{ ctxid }}, {{ superuser|int }});">
<input type=submit value="check now">
</form>
<h2 id='pbtitle'>Problems</h2>
<div id='pbdetails'>No check has been run yet</div>
<div id="problems"></div>
<h2 id='usetitle'>Contents</h2>
<div id="uses">
{% if resources.layers | length > 0 %}
la carte du contexte utilise les ressources suivantes:
<ul>
{% for k,l in resources.layers.items() %}
<li id='{{ k }}'>
'{{ l.title }}': couche {{ l.type }}
<a href='{{ url_for('dashboard.owslayer', stype=l.type, url=l.url.replace('/', '~').split('?')[0], lname=l.name) }}'>{{ l.name }}</a>
dans
<a href='{{ url_for('dashboard.ows', stype=l.type, url=l.url.replace('/', '~')) }}'>{{ l.url }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>la carte n'utilise aucune couche WMS/WFS/WMTS/n'a que des fonds de carte configurés ?</p>
{% endif %}
{% if resources.catlist | length > 0 %}
la carte propose les sources de données suivantes:
    <div id="toolbar"></div>
    <table
      id="catalogstable"
      data-toggle="true"
      data-pagination="true"
      data-toolbar="#toolbar"
      data-search="true">
    </table>
{% else %}
<p>Aucune source de données n'est configurée dans la carte?</a>
{% endif %}
</div>
<h2 id='previous'>Previous</h2>
<p id='previouslist'>No previous check result has been found</p>
</div>
	{% endblock content %}
    </body>
</html>
