{% include 'header.tmpl' %}

        {% block scripts %}
<script>
let prev = {{ previous_jobs | tojson() }};
if (prev && Array.isArray(prev) && prev.length > 0) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('context', {{ ctxid }}, last['id'], {{ showdelete|int }});
}

$(document).ready(function(){
  DisplayPrev('context', {{ ctxid }}, prev, {{ showdelete|int }});
{% if resources.catlist | length > 0 %}
  $('#catalogstable').bootstrapTable({
    data: {{ resources.catlist |tojson }},
    columns: [
      {'field': 'key', 'title': "Identifier"},
      {'field': 'type', 'title': "Type"},
      {'field': 'url', 'title': 'Url', 'formatter':'urlFormatter'},
      {'field': 'title', 'title':'Titre' }
    ]
  });
{% endif %}
});
</script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour le contexte {{ ctxid }}</p>
{% if ctxname is not none %}
<a href='/mapstore/#/context/{{ ctxname }}'>voir le contexte</a>
{% endif %}
<form id='check' action="javascript:CheckRes('context', {{ ctxid }}, {{ showdelete|int }});">
<input type=submit value="check now">
</form>
<h2 id='pbtitle'>Problems</h2>
<div id='pbdetails'></div>
<div id="problems"></div>
<h2 id='usetitle'>Contents</h2>
{% if resources.layers.items() | length > 0 %}
<div id="uses">
la carte du contexte utilise les ressources suivantes:
<ul>
{% for k,l in resources.layers.items() %}
<li id='{{ k }}'>
'{{ l.title }}': couche {{ l.type }}
<a href='{{ url_for('dashboard.owslayer', stype=l.type, url=l.url.replace('/', '~').split('?')[0], lname=l.name) }}'>{{ l.name }}</a>
dans
<a href='{{ url_for('dashboard.ows', stype=l.type, url=l.url.replace('/', '~')) }}'>{{ l.url }}</a></li>
{% endfor %}
</ul>
{% if resources.catlist | length > 0 %}
et propose les sources de données suivantes:
    <div id="toolbar"></div>
    <table
      id="catalogstable"
      data-toggle="true"
      data-toolbar="#toolbar"
      data-search="true"
      data-show-columns="true">
    </table>
{% endif %}
</div>
{% else %}
<p>une erreur est survenue lors de la récupération des informations du contexte, ou la carte n'utilise aucune couche d'overlay</p>
{% endif %}
<h2 id='previous'>Previous</h2>
<p id='previouslist'></p>
</div>
	{% endblock content %}
    </body>
</html>
