{% block scripts %}
  <script src='https://cdn.jsdelivr.net/gh/georchestra/header@dist/header.js'></script>
{% endblock scripts %}

{% block content %}
<div id="go_head">
  <geor-header active-app='gaia' legacy-header='true' legacy-url='/header/' style='height:60px'></geor-header>
</div>
{% endblock content %}
