{% set title = 'homepage' %}
{% include 'header.tmpl' %}

        {% block scripts %}
            <script>
              fetchForHome([
                {"prefix": "#gs-wms", "taskname": "geordash.checks.ows.owsservice","taskargs": ["wms","/{{ localgsbaseurl }}/ows" ]},
                {"prefix": "#gs-wfs", "taskname": "geordash.checks.ows.owsservice","taskargs": ["wfs","/{{ localgsbaseurl }}/ows" ]},
                {"prefix": "#gn-csw", "taskname": "geordash.checks.csw.check_catalog","taskargs": ["/{{ localgnbaseurl }}/srv/fre/csw" ]},
{% if 'sec-roles' in request.headers and 'MAPSTORE_ADMIN' in request.headers['sec-roles'] %}
                {"prefix": "#ms-map", "taskname": "geordash.checks.mapstore.check_resources","taskargs": ['MAP']},
                {"prefix": "#ms-ctx", "taskname": "geordash.checks.mapstore.check_resources","taskargs": ['CONTEXT']},
{% endif %}
              ]);
{% if 'sec-roles' not in request.headers or ( 'sec-roles' in request.headers and 'MAPSTORE_ADMIN' not in request.headers['sec-roles'] ) %}
              fetchMapsAndCtxCount('{{ url_for('dashboard.my_maps_and_apps') }}');
{% endif %}
            </script>
        {% endblock %}
        <!-- Your page content -->
        {% block content %}
   <div class="container">
<p>
welcome to <a href='https://github.com/landryb/gaia/'>gaia (geOrchestra Automated Integrity Analysis) - a geOrchestra dashboard</a> !
</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
 <div class="col">
  <div class="card h-100" id="gs-wms-card">
    <div class="card-body">
      <h5 class="card-title">Geoserver WMS</h5>
      <p class="card-text" id="gs-wms-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="gs-wms-lastupdated">Job never ran</small></p>
    </div>
  </div>
 </div>
 <div class="col">
  <div class="card h-100" id="gs-wfs-card">
    <div class="card-body">
      <h5 class="card-title">Geoserver WFS</h5>
      <p class="card-text" id="gs-wfs-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="gs-wfs-lastupdated">Job never ran</small></p>
    </div>
  </div>
 </div>
 <div class="col">
  <div class="card h-100" id="ms-map-card">
    <div class="card-body">
      <h5 class="card-title">Mapstore maps</h5>
      <p class="card-text" id="ms-map-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="ms-map-lastupdated">Job never ran</small></p>
    </div>
  </div>
 </div>
 <div class="col">
  <div class="card h-100" id="ms-ctx-card">
    <div class="card-body">
      <h5 class="card-title">Mapstore contexts</h5>
      <p class="card-text" id="ms-ctx-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="ms-ctx-lastupdated">Job never ran</small></p>
    </div>
  </div>
 </div>
 <div class="col">
  <div class="card h-100" id="gn-csw-card">
    <div class="card-body">
      <h5 class="card-title">Geonetwork CSW</h5>
      <p class="card-text" id="gn-csw-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="gn-csw-lastupdated">Job never ran</small></p>
    </div>
  </div>
 </div>
</div>
<div id='access'>You have access to the following resources</div>
{% if 'sec-roles' in request.headers and 'GN_EDITOR' in request.headers['sec-roles'] %}
<div id='md'>
<h2 id='mdtitle'>Metadatas</h2>
<p>You are the editor for following metadatas</p>
<table id="table" class="table">
  <thead>
    <tr>
      <th data-field="uuid" data-sortable='true'>UUID</th>
      <th data-field="title" data-sortable='true'>Title</th>
      <th data-field="dhlink">DH</th>
      <th data-field="editlink">Edit</th>
    </tr>
  </thead>
</table>
</div>
{% endif %}
<div id='mapstore'>
<h2 id='mapstitle'>Maps</h2>
<table id="mapstable" class="table">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="name">Title</th>
      <th data-field="viewlink">View</th>
    </tr>
  </thead>
</table>

<h2 id='ctxtitle'>Contexts</h2>
<table id="ctxtable" class="table">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="name">Title</th>
      <th data-field="viewlink">Voir</th>
      <th data-field="editlink">Edit</th>
    </tr>
  </thead>
</table>
</div>
</div>
{% endblock %}
    </body>
</html>
