{% set title = 'homepage' %}
{% include 'header.tmpl' %}

        {% block scripts %}
            <script>
              fetchForHome([
                {"prefix": "#gs-wms", "taskname": "geordash.checks.ows.owsservice","taskargs": ["wms","/{{ localgsbaseurl }}/ows" ]},
                {"prefix": "#gs-wfs", "taskname": "geordash.checks.ows.owsservice","taskargs": ["wfs","/{{ localgsbaseurl }}/ows" ]},
                {"prefix": "#gn-csw", "taskname": "geordash.checks.csw.check_catalog","taskargs": ["/{{ localgnbaseurl }}/srv/fre/csw" ]},
{% if 'sec-roles' in request.headers and 'MAPSTORE_ADMIN' in request.headers['sec-roles'] %}
                {"prefix": "#ms-map", "taskname": "geordash.checks.mapstore.check_resources","taskargs": ['MAP']},
                {"prefix": "#ms-ctx", "taskname": "geordash.checks.mapstore.check_resources","taskargs": ['CONTEXT']},
{% endif %}
{% if superuser %}
                {"prefix": "#gs-datadir", "taskname": "geordash.checks.gsd.gsdatadir","taskargs": []},
{% endif %}
              ]);
{% if superuser %}
              fetchForHomeSingleTask([
                {"prefix": "#gndc", "taskname": "geordash.checks.gn_datadir.check_gn_meta","taskargs": []},
              ]);
{% endif %}
{% if 'sec-roles' not in request.headers or ( 'sec-roles' in request.headers and 'MAPSTORE_ADMIN' not in request.headers['sec-roles'] ) %}
              fetchMapsAndCtxCount('{{ url_for('dashboard.my_maps_and_apps') }}');
{% endif %}
            </script>
        {% endblock %}
        <!-- Your page content -->
        {% block content %}
   <div class="container">
<p>
welcome to <a href='https://github.com/georchestra/gaia/'>gaia (geOrchestra Automated Integrity Analysis) - a geOrchestra dashboard</a> !
</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
 <div class="col">
  <a class="text-decoration-none" href="{{ url_for('dashboard.ows', stype='wms', url=localgsbaseurl + '~ows') }}">
  <div class="card h-100" id="gs-wms-card">
    <div class="card-body">
      <h5 class="card-title">Geoserver WMS</h5>
      <p class="card-text" id="gs-wms-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="gs-wms-lastupdated">Job never ran</small></p>
    </div>
  </div>
  </a>
 </div>
 <div class="col">
  <a class="text-decoration-none" href="{{ url_for('dashboard.ows', stype='wfs', url=localgsbaseurl + '~ows') }}">
  <div class="card h-100" id="gs-wfs-card">
    <div class="card-body">
      <h5 class="card-title">Geoserver WFS</h5>
      <p class="card-text" id="gs-wfs-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="gs-wfs-lastupdated">Job never ran</small></p>
    </div>
  </div>
  </a>
 </div>
{% if superuser %}
 <div class="col">
  <a class="text-decoration-none" href="{{ url_for('dashboard.admin.geoserver_datadir') }}">
  <div class="card h-100" id="gs-datadir-card">
    <div class="card-body">
      <h5 class="card-title">Geoserver Datadir</h5>
      <p class="card-text" id="gs-datadir-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="gs-datadir-lastupdated">Job never ran</small></p>
    </div>
  </div>
  </a>
 </div>
{% endif %}
 <div class="col">
  <a class="text-decoration-none" href="{{ url_for('dashboard.csw', portal='srv') }}">
  <div class="card h-100" id="gn-csw-card">
    <div class="card-body">
      <h5 class="card-title">Geonetwork CSW</h5>
      <p class="card-text" id="gn-csw-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="gn-csw-lastupdated">Job never ran</small></p>
    </div>
  </div>
  </a>
 </div>
 <div class="col">
{% if superuser %}
  <a class="text-decoration-none" href="{{ url_for('dashboard.admin.mapstore_maps') }}">
{% else %}
  <a class="text-decoration-none" href="{{ url_for('dashboard.my_maps_and_apps') }}">
{% endif %}
  <div class="card h-100" id="ms-map-card">
    <div class="card-body">
      <h5 class="card-title">Mapstore maps</h5>
      <p class="card-text" id="ms-map-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="ms-map-lastupdated">Job never ran</small></p>
    </div>
  </div>
  </a>
 </div>
 <div class="col">
{% if superuser %}
  <a class="text-decoration-none" href="{{ url_for('dashboard.admin.mapstore_contexts') }}">
{% else %}
  <a class="text-decoration-none" href="{{ url_for('dashboard.my_maps_and_apps') }}">
{% endif %}
  <div class="card h-100" id="ms-ctx-card">
    <div class="card-body">
      <h5 class="card-title">Mapstore contexts</h5>
      <p class="card-text" id="ms-ctx-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="ms-ctx-lastupdated">Job never ran</small></p>
    </div>
  </div>
  </a>
 </div>
{% if superuser %}
 <div class="col">
  <a class="text-decoration-none" href="{{ url_for('dashboard.admin.geonetwork_datadir') }}">
  <div class="card h-100" id="gndc-card">
    <div class="card-body">
      <h5 class="card-title">Geonetwork Datadir Checker</h5>
      <p class="card-text" id="gndc-abstract">Placeholder</p>
      <p class="card-text"><small class="text-muted" id="gndc-lastupdated">Job never ran</small></p>
    </div>
  </div>
  </a>
 </div>
{% endif %}
 </div>
</div>
{% endblock %}
    </body>
</html>
