{% set title = 'homepage' %}
{% include 'header.tmpl' %}

        {% block scripts %}
            <script>
              fetchForHome();
            </script>
        {% endblock %}
        <!-- Your page content -->
        {% block content %}
   <div class="container">
<p>
welcome to <a href='https://github.com/landryb/gaia/'>gaia (geOrchestra Automated Integrity Analysis) - a geOrchestra dashboard</a> !
</p>
{% if 'sec-username' in request.headers %}
You're authenticated as {{ reqhead['sec-username'] }}
{% else %}
You're not authenticated
{% endif %}
<div id='access'>You have access to the following resources</div>
{% if 'sec-roles' in request.headers and 'GN_EDITOR' in request.headers['sec-roles'] %}
<div id='md'>
<h2 id='mdtitle'>Metadatas</h2>
<p>You are the editor for following metadatas</p>
<table id="table" class="table">
  <thead>
    <tr>
      <th data-field="uuid">UUID</th>
      <th data-field="title">Title</th>
      <th data-field="dhlink">DH</th>
      <th data-field="editlink">Edit</th>
    </tr>
  </thead>
</table>
</div>
{% endif %}
<div id='mapstore'>
<h2 id='mapstitle'>Maps</h2>
<table id="mapstable" class="table">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="name">Title</th>
      <th data-field="viewlink">View</th>
    </tr>
  </thead>
</table>

<h2 id='ctxtitle'>Contexts</h2>
<table id="ctxtable" class="table">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="name">Title</th>
      <th data-field="viewlink">Voir</th>
      <th data-field="editlink">Edit</th>
    </tr>
  </thead>
</table>
</div>
{% if 'sec-roles' in request.headers and 'SUPERUSER' in request.headers['sec-roles'] %}
<p>As a user having SUPERUSER role, you also have access to the following resources:<p>
<ul>
<li><a href='{{ url_for('dashboard.admin.mapstore_configs') }}'>mapstore configs checks</a></li>
<li><a href='{{ url_for('dashboard.admin.mapstore_maps') }}'>mapstore maps</a></li>
<li><a href='{{ url_for('dashboard.admin.mapstore_contexts') }}'>mapstore contexts</a></li>
<li><a href='{{ url_for('dashboard.ows', stype='wms', url=gsurl.replace('/','~'))}}'>all geoserver WMS layers</a></li>
<li><a href='{{ url_for('dashboard.ows', stype='wfs', url=gsurl.replace('/','~'))}}'>all geoserver WFS layers</a></li>
<li><a href='{{ url_for('dashboard.admin.geonetwork')}}'>geonetwork subportals</a></li>
<li><a href='{{ url_for('dashboard.csw', portal='srv')}}'>all local metadatas in geonetwork</a></li>
</ul>
{% endif %}
</div>
{% endblock %}
    </body>
</html>
</body>
</html>
