{% set title = 'service ' ~  type ~ ' ' ~ url %}
{% include 'header.tmpl' %}

        {% block scripts %}
<script>
let prev = {{ previous_jobs | tojson() }};
let tableData = {{ layers | tojson }};
if (prev && Array.isArray(prev) && prev.length > 0) {
  const last = prev.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('owsservice/{{ type }}', '{{ url }}', last['id'], {{ superuser|int }});
}

$(document).ready(function(){
  DisplayPrev('owsservice/{{ type }}', '{{ url }}', prev, {{ superuser|int }});
{% if layers | length > 0 %}
  $('#owslayerstable').bootstrapTable({
    data: tableData,
    columns: [
      {'title': 'Index', 'formatter': 'runningFormatter'},
      {'title': 'Name', 'field': 'url', 'sortable': true, 'formatter': 'urlFormatter'},
      {'title': 'Titre', 'field': 'title', 'sortable': true }
    ]
  });
{% endif %}
});
</script>
        {% endblock scripts %}
        <!-- Your page content -->
        {% block content %}
<div class="container">
<p id='details'>Details pour le service {{ type }} <a href="{{s.s.url}}?request=GetCapabilities&service={{ type }}&version={{ s.s.version }}">{{ s.s.url }} (lien vers les capacités)</a> en version {{ s.s.version }}</p>
<p>titre: {{ s.s.identification.title }}<p>
<p>résumé: {{ s.s.identification.abstract }}</p>
<p>capacités du service récupérées: {{ s.timestamp | datetimeformat }}
{% if superuser %}
<a id='reloadlink' href="javascript:ReloadCapabilities('{{ type }}','{{ url }}')" title='Reload capabilities from the remote service and refresh the page'><i class="bi bi-arrow-repeat"></i></a>
{% endif %}
</p>
<h2 id='pbtitle'>Problems</h2>
<div id='pbdetails'>No group check has been run yet</div>
<div id="problems"></div>
<form id='check' action="javascript:CheckRes('owsservice/{{ type }}', '{{ url }}', {{ superuser|int }});">
<input type=submit value="check all layers now">
</form>
{% if consumers is not none %}
<h2 id='consumers'>Consommateurs</h2>
<ul>
{% for f in consumers %}
{% if f[0] == 'MAP' %}
<li><a href='{{ url_for('dashboard.map', mapid=f[1])}}'>carte {{ f[2] }}</a></li>
{% elif f[0] == 'CONTEXT' %}
<li><a href='{{ url_for('dashboard.ctx', ctxid=f[1])}}'>contexte {{ f[2] }}</a></li>
{% endif %}
{% endfor %}
</ul>
</p>
{% endif %}
<h2 id='contents'>Contents: {{ layers | length }} layers</h2>
<table id="owslayerstable"
  data-toggle="true"
  data-pagination="true"
  data-sort-name="url"
  data-search="true">
</table>
<h2 id='previous'>Previous</h2>
<p id='previouslist'>No previous group check result has been found</p>
</div>
	{% endblock content %}
    </body>
</html>
