{% include 'header.tmpl' %}

        {% block scripts %}
<script>
let prev1 = {{ previous_resources_jobs | tojson() }};
if (prev1) {
  const last = prev1.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('mapstore', 'resources', last['id'], {{ showdelete|int }}, '#pbtitle1');
}

let prev2 = {{ previous_configs_jobs | tojson() }};
if (prev2) {
  const last = prev2.reduce((a, b) => {
    return new Date(a['finished']) > new Date(b['finished']) ? a : b;
  });
  PollTaskRes('mapstore', 'configs', last['id'], {{ showdelete|int }}, '#pbtitle2');
}
$(document).ready(function(){
  DisplayPrev('mapstore', 'resources', prev1, {{ showdelete|int }}, '#previouslist1');
  DisplayPrev('mapstore', 'configs', prev2, {{ showdelete|int }}, '#previouslist2');
});
</script>
        {% endblock %}
        <!-- Your page content -->
        {% block content %}
   <div class="container">
<p id='details'>Details pour toutes les cartes et contextes mapstore</p>
<div>
<h2>Check mapstore resources</h2>
<p>check all mapstore resources.</p>
<form id='check1' action="javascript:CheckRes('mapstore', 'resources', {{ showdelete|int}} );">
<input type=submit value="check all mapstore resources now">
</form>
<h4 id='pbtitle1'>Problems</h4>
<div id='pbdetails1'></div>
<div id="problems1"></div>
<h4 id='previous'>Previous</h4>
<p id='previouslist1'></p>
</div>
<div>
<h2>Check mapstore configs</h2>
<form id='check2' action="javascript:CheckRes('mapstore', 'configs', {{ showdelete|int }} );">
<input type=submit value="check all mapstore configs now">
</form>
<h4 id='pbtitle2'>Problems</h4>
<div id='pbdetails2'></div>
<div id="problems2"></div>
<h4 id='previous'>Previous</h4>
<p id='previouslist2'></p>
</div>
   </div>
        {% endblock %}
</body>
</html>
