<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Dashboard</title>
        {% endblock %}
    </head>
    <body>
{% include 'header.tmpl' %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        {% endblock %}
        <!-- Your page content -->
        {% block content %}
   <div class="container">
<hr>
<h4>Check mapstore</h4>
<p>check all mapstore resources.
<form id=checkms method=post action="{{ url_for("dashboard.tasks.check_mapstore") }}">
<input type=radio name=subtasks value=1><label>as subtasks</label><br>
<input type=radio name=subtasks value=0><label>as a single task with progress</label><br>
  <input type=submit>
</form>
<p>Result: <span id=checkms-result></span></p>
<p>check mapstore global configs.
<form id='checkconf' method="GET" action="{{ url_for("dashboard.tasks.check_mapstore_configs") }}">
<input type=submit value="check now">
</form>
<p>Result: <span id=checkconf-result></span></p>
  </div>
       {% endblock %}

<script>
  const taskForm = (formName, resName, report) => {
    document.forms[formName].addEventListener("submit", (event) => {
      let fetchargs = { method: document.forms[formName].method };
      if (fetchargs.method == 'post') {
        fetchargs.body = new FormData(event.target);
      };
      event.preventDefault()
      fetch(event.target.action, fetchargs)
        .then(response => response.json())
        .then(data => {
          $('#'+resName).text("submitted");
          const poll = () => {
            fetch(`/dashboard/tasks/result/${data["result_id"]}`)
              .then(response => response.json())
              .then(data => {
                if (!data["ready"]) {
                  setTimeout(poll, 500);
                  if (typeof data["value"]["current"] !== 'undefined' && typeof data["value"]["total"] !== 'undefined') {
                    $('#'+resName).text(`${data["value"]["current"]} / ${data["value"]["total"]}`)
                  } else {
                    $('#'+resName).text('working')
                  }
                } else if (!data["successful"]) {
                  $('#'+resName).text("error, check console")
                  console.error(formName, data)
                } else {
                  $('#'+resName).html(report(data["value"]));
                }
                console.log(data);
              })
          }

          poll()
        })
    })
  }

  taskForm("checkms", "checkms-result", data = (res) => {
      return res;
  })

  taskForm("checkconf", "checkconf-result", data = (res) => {
     ret = [];
     for (i of ['new','config', 'localconfig']) {
       if ( res[i].length > 0) {
         const title = $("<h3>");
         title.text(res[i].length + " errors for " + i);
         title.attr("id", "errtitle-" + i);
         ret.push(title[0]);
         const errs = $("<div>");
         errs.attr("id", "errs-" + i);
         errs.html(ArrayToHtmlList(res[i]));
         ret.push(errs[0]);
       }
    }
    return ret;
  })
</script>
</body>
</html>
